textarea {
	width: 30em;
    height: 10em;
}

/*.header {
    background-color: #1976D2;
}

.container {
    background-color: #CDDC39;
}*/

body {
    background-image: url("../img/YoutubeBackground.png");
}