form {
    position: absolute;
    margin-top: 460px;
    left: 175px;
}

textarea {
    width: 62em;
    height: 10em;
}

/*.header {
    background-color: #1976D2;
}

.container {
    background-color: #CDDC39;
}*/

body {
    background-image: url("../img/YoutubeBackground.png");
}

#commentSection {
    position: absolute;
    margin-top: 715px;
    margin-left: 150px;
}

#commentUserName {
    font-size: 1.3em;
}


#commentMessage {
    font-size: 1.2em;    
}

hr {
    size: 2em;
    width: 72em;
    margin-left: 1em;
}